version: "3.6"
services:
  redis:
    image: redis:6
    ports:
      - "6379:6379"
    command: redis-server --bind 0.0.0.0 # a ajouter ?
    volumes: # a ajouter ?
      - redisdata:/data
      
volumes:
  redisdata:

  # Amazon Elasticache Redis ?